
    margin: 0;
{ padding: 0;
    t*ext-decoration: none;
   }
    body{
        background: rgb(69, 71, 218);
       text-align: center;  
    }
     ul{
        list-style-type: none; 
        display: flex;
        justify-content: space-around;
        color: white;
        background-color: r   gb(76,72,76)
    }

    li{
        height: 60px;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    li:hover{
        background-color: rgb(255, 0, 0);
    }
    a{
        font-size: 30px;
        width: 100%;
        color: white;
    } 
    .banner{
        margin-top: 30px;
    }
    form{
        margin-top: 30px;
    }